https://drive.google.com/file/d/1hj7HyOolwjspJlsr0PWsSwEtUpTAU6rA/view?usp=sharing

# Tested brand

_Mission:_

Your mission is to provide a recommendation to the Tested brand team that will allow them to maximize sales. To do this you have to answer several questions from steps 1 – 4 below for each experiment and generate the tables with resulting numbers according to the given templates in a template file. 

_Background:_

The team of “Tested brand" is testing two different price options for a Product “Tested brand Smart WIFI Plug In Scented Oil Starter Kit, 1 Warmer + 2 Refills – Fresh Linen”. The client’s objective is to understand price optimizing sales. 
 
_Options tested:_ 
- Experiment 1 - Price 19.99: In this experiment, the tested product’s price is $19.99 that is lower than in the second experience. 

- Experiment 2 - Price 23.99: In this experiment, the tested product’s price is $23.99. 

_Files_
- log_file.csv — a log file in CSV format containing the list of actions performed by our test users on the platform; 
- profiles.csv — a profiles file in CSV format containing a description of the respondents’ profiles; 
- fields_explanation.pdf — a file with a description of the main fields; 
- template_tables.xlsx — a template file with the table structure that should be generated.

In [342]:
! gdown -- 1hj7HyOolwjspJlsr0PWsSwEtUpTAU6rA

Downloading...
From: https://drive.google.com/uc?id=1hj7HyOolwjspJlsr0PWsSwEtUpTAU6rA
To: /content/drive-download-20220809T184218Z-001.zip
100% 654k/654k [00:00<00:00, 112MB/s]

In [343]:
#! unzip /content/drive-download-20220809T184218Z-001.zip

#Preparation

In [344]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
pd.set_option('display.float_format', '{:,.2f}'.format)

import random
import math as mt
from math import factorial
from scipy.stats import norm
from scipy import stats as st
from openpyxl import load_workbook

In [345]:
df = pd.read_csv('/content/log_file.csv')

In [346]:
df.head()

,RespondentId,External RespondentId,Platform,Experiment,Product,Brand,Category,Prod id,Action,Bought,Timestamp,Detail id,Detail type,Detail price,Detail name,Detail position,Detail qty
0,931049,60f77cc6-e4b3-f365-9e53-28510c35973b,desktop,Experiment 2 - Price 23.99,-,-,-,-,login,0,1626832151,NaN,NaN,NaN,NaN,NaN,NaN
1,931049,60f77cc6-e4b3-f365-9e53-28510c35973b,desktop,Experiment 2 - Price 23.99,-,-,-,-,pageview,0,1626832151,NaN,NaN,NaN,NaN,NaN,NaN
2,931049,60f77cc6-e4b3-f365-9e53-28510c35973b,desktop,Experiment 2 - Price 23.99,-,-,-,-,pageview,0,1626833270,NaN,NaN,NaN,NaN,NaN,NaN
3,931049,60f77cc6-e4b3-f365-9e53-28510c35973b,desktop,Experiment 2 - Price 23.99,-,-,-,-,pageview,0,1626833295,NaN,NaN,NaN,NaN,NaN,NaN
4,931049,60f77cc6-e4b3-f365-9e53-28510c35973b,desktop,Experiment 2 - Price 23.99,-,-,-,-,pageview,0,1626833296,NaN,NaN,NaN,NaN,NaN,NaN

In [347]:
df.columns

Index(['RespondentId', 'External RespondentId', 'Platform', 'Experiment',
       'Product', 'Brand', 'Category', 'Prod id', 'Action', 'Bought',
       'Timestamp', 'Detail id', 'Detail type', 'Detail price', 'Detail name',
       'Detail position', 'Detail qty'],
      dtype='object')

In [348]:
df.columns = df.columns.str.lower().str.replace(' ', '_')
df = df.rename(columns={'respondentid': 'respondent_id', 'external_respondentid': 'external_respondent_id'})

In [349]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42807 entries, 0 to 42806
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   respondent_id           42807 non-null  int64
 1   external_respondent_id  42807 non-null  object
 2   platform                42807 non-null  object
 3   experiment              42807 non-null  object
 4   product                 42807 non-null  object
 5   brand                   42807 non-null  object
 6   category                42807 non-null  object
 7   prod_id                 42807 non-null  object
 8   action                  42807 non-null  object
 9   bought                  42807 non-null  int64
 10  timestamp               42807 non-null  int64
 11  detail_id               18196 non-null  object
 12  detail_type             9399 non-null   object
 13  detail_price            19814 non-null  float64
 14  detail_name             19814 non-null  object
 15  detail_position         19814 non-null  float64
 16  detail_qty              3165 non-null   float64
dtypes: float64(3), int64(3), object(11)
memory usage: 5.6+ MB

In [350]:
df['datetime'] = pd.to_datetime(df["timestamp"], unit="s")

In [351]:
profiles = pd.read_csv('/content/profiles.csv')
profiles.head()

,experiment_name,respondent_id,respondent_external_id,source,status,platform,checked out empty the 1st time,Profile Group,Triggers Group,Answers Group,...,p7i3o,p7i3t,p7i4o,p7i4t,p7i5o,p7i5t,p7i6o,p7i6t,p7i7o,p7i7t
0,Experiment 2 - Price 23.99,931049,60f77cc6-e4b3-f365-9e53-28510c35973b,lucid,completed,desktop,0,NaN,1,Default A,...,0,0,0,0,0,0,0,0,0,0
1,Experiment 1 - Price 19.99,931046,60f77ccd-d1d4-ad65-146d-2bc83aa2beeb,lucid,completed,desktop,0,NaN,fail,Default A,...,0,0,0,0,0,0,0,0,0,0
2,Experiment 1 - Price 19.99,931044,60f77cc9-c9e1-6eff-fa13-a7c8c0bdd789,lucid,completed,desktop,0,NaN,fail,Default A,...,0,0,0,0,0,0,0,0,0,0
3,Experiment 1 - Price 19.99,931039,60f77c0c-3ba9-ae2e-9d68-a7f3c492c9ac,lucid,completed,desktop,0,NaN,fail,Default A,...,0,0,0,0,0,0,0,0,0,0
4,Experiment 1 - Price 19.99,931038,60f77c0a-8c52-5063-7e7a-b8e259219e54,lucid,completed,desktop,0,NaN,fail,Default A,...,0,0,0,0,0,0,0,0,0,0

In [352]:
profiles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1109 entries, 0 to 1108
Columns: 211 entries, experiment_name to p7i7t
dtypes: float64(14), int64(133), object(64)
memory usage: 1.8+ MB

In [353]:
list(profiles)

['experiment_name',
 'respondent_id',
 'respondent_external_id',
 'source',
 'status',
 'platform',
 'checked out empty the 1st time',
 'Profile Group',
 'Triggers Group',
 'Answers Group',
 '3316',
 'We will start with a few questions first, if you qualify you will be able to do the shopping trip simulation. QD1. You are…',
 '3317',
 'QD2. Please indicate your age group:',
 '3318',
 'QCe3. Do you personally, or any of your relatives or close friends work/ study in the following areas?',
 '3319',
 'QCe4. Did you participate in any type of market research in the past 3 months linked to Air Fresheners products?',
 '3320',
 'QD5. How much is your total household yearly income (before tax)?',
 '3321',
 'QD6. Which of the following options fit best with your life stage? Please indicate one answer only.',
 '3322',
 'QCe7. Among the different categories of products listed below which are the one you would never buy?',
 '3323',
 'QCe8. Among the different categories of products listed below which are the ones you have bought in the past 12M? Select all that apply .',
 '3324',
 'QCe9. When it comes to household products (e.g. cleaning supplies, air freshener products), which of the below statements best describes your views? Please choose only one answer.',
 '3325',
 'QCe10. When you buy home fragrance products, what is most important to you?',
 '3326',
 '3314',
 'ending_1_other',
 '3315',
 'QCe2. Could you tell us why you decided not to buy Tested brand Smart WIFI Plug In Scented Oil Starter Kit, 1 Warmer + 2 Refills – Fresh Linen?',
 'ending_2_other',
 'ad_time',
 'ad_click_time',
 'item_brand1',
 'item_category1',
 'cart_item1',
 'prev_prod_no_item1',
 'cart_price1',
 'cart_time1',
 'item_brand2',
 'item_category2',
 'cart_item2',
 'prev_prod_no_item2',
 'cart_price2',
 'cart_time2',
 'item_brand3',
 'item_category3',
 'cart_item3',
 'prev_prod_no_item3',
 'cart_price3',
 'cart_time3',
 'item_brand4',
 'item_category4',
 'cart_item4',
 'prev_prod_no_item4',
 'cart_price4',
 'cart_time4',
 'item_brand5',
 'item_category5',
 'cart_item5',
 'prev_prod_no_item5',
 'cart_price5',
 'cart_time5',
 'item_brand6',
 'item_category6',
 'cart_item6',
 'prev_prod_no_item6',
 'cart_price6',
 'cart_time6',
 'item_brand7',
 'item_category7',
 'cart_item7',
 'prev_prod_no_item7',
 'cart_price7',
 'cart_time7',
 'budget',
 'p1i1o',
 'p1i1t',
 'p1i2o',
 'p1i2t',
 'p1i3o',
 'p1i3t',
 'p1i4o',
 'p1i4t',
 'p1i5o',
 'p1i5t',
 'p1i6o',
 'p1i6t',
 'p1i7o',
 'p1i7t',
 'p1i8o',
 'p1i8t',
 'p1i9o',
 'p1i9t',
 'p1i10o',
 'p1i10t',
 'p1i11o',
 'p1i11t',
 'p2i1o',
 'p2i1t',
 'p2i2o',
 'p2i2t',
 'p2i3o',
 'p2i3t',
 'p2i4o',
 'p2i4t',
 'p2i5o',
 'p2i5t',
 'p2i6o',
 'p2i6t',
 'p2i7o',
 'p2i7t',
 'p2i8o',
 'p2i8t',
 'p2i9o',
 'p2i9t',
 'p2i10o',
 'p2i10t',
 'p2i11o',
 'p2i11t',
 'p3i1o',
 'p3i1t',
 'p3i2o',
 'p3i2t',
 'p3i3o',
 'p3i3t',
 'p3i4o',
 'p3i4t',
 'p3i5o',
 'p3i5t',
 'p3i6o',
 'p3i6t',
 'p3i7o',
 'p3i7t',
 'p3i8o',
 'p3i8t',
 'p3i9o',
 'p3i9t',
 'p3i10o',
 'p3i10t',
 'p3i11o',
 'p3i11t',
 'p4i1o',
 'p4i1t',
 'p4i2o',
 'p4i2t',
 'p4i3o',
 'p4i3t',
 'p4i4o',
 'p4i4t',
 'p4i5o',
 'p4i5t',
 'p4i6o',
 'p4i6t',
 'p4i7o',
 'p4i7t',
 'p4i8o',
 'p4i8t',
 'p4i9o',
 'p4i9t',
 'p4i10o',
 'p4i10t',
 'p5i1o',
 'p5i1t',
 'p5i2o',
 'p5i2t',
 'p5i3o',
 'p5i3t',
 'p5i4o',
 'p5i4t',
 'p5i5o',
 'p5i5t',
 'p5i6o',
 'p5i6t',
 'p5i7o',
 'p5i7t',
 'p5i8o',
 'p5i8t',
 'p6i1o',
 'p6i1t',
 'p6i2o',
 'p6i2t',
 'p6i3o',
 'p6i3t',
 'p6i4o',
 'p6i4t',
 'p6i5o',
 'p6i5t',
 'p6i6o',
 'p6i6t',
 'p6i7o',
 'p6i7t',
 'p7i1o',
 'p7i1t',
 'p7i2o',
 'p7i2t',
 'p7i3o',
 'p7i3t',
 'p7i4o',
 'p7i4t',
 'p7i5o',
 'p7i5t',
 'p7i6o',
 'p7i6t',
 'p7i7o',
 'p7i7t']

In [354]:
profiles = profiles[['respondent_id', 'source',
       'status', 'Profile Group',  'QD2. Please indicate your age group:']].copy()

profiles.columns = ['respondent_id', 'source',
      'status', 'profile_group',  'qd2_age']

In [355]:
df = df.merge(profiles, how='left', on=['respondent_id'])

In [356]:
df.duplicated().sum()

2522

In [357]:
df.drop_duplicates (keep = 'first', inplace = True)

In [358]:
df.duplicated().sum()

0

In [359]:
df.isna().mean()

respondent_id            0.00
external_respondent_id   0.00
platform                 0.00
experiment               0.00
product                  0.00
brand                    0.00
category                 0.00
prod_id                  0.00
action                   0.00
bought                   0.00
timestamp                0.00
detail_id                0.55
detail_type              0.77
detail_price             0.51
detail_name              0.51
detail_position          0.51
detail_qty               0.92
datetime                 0.00
source                   0.00
status                   0.00
profile_group            1.00
qd2_age                  0.00
dtype: float64

In [360]:
df['product'].unique()

array(['-',
       'Tested brand Smart WIFI Plug In Scented Oil Starter Kit, 1 Warmer + 2 Refills – Fresh Linen',
       'Febreze Plug in Air Freshener and Odor Eliminator, Scented Oil Refill and Oil Warmer, Linen & Sky, 1 Count',
       'Glade PlugIns Refills Air Freshener Starter Kit, Scented Oil for Home and Bathroom, Apple Cinnamon, 4.02 Fl Oz, 2 Warmers + 6 Refills',
       'Glade PlugIns Refills Air Freshener Starter Kit, Scented Oil for Home and Bathroom, Apple Cinnamon, 3.35 Fl Oz, 1 Warmer + 5 Refills',
       'Tested brand plug in Scented Oil 5 Refills, Summer Delights, (5x0.67oz), Essential Oils, Air Freshener',
       'Renuzit Snuggle Scented Oil Refill for Plugin Air Fresheners, Linen Escape, 5 Count',
       'Tested brand Plug in Scented Oil Starter Kit with Snowman Free Decorative Warmer + 2 Refills, Apple Cinnamon, Fall Scent, Fall Spray, (2x0.67oz), Essential Oils, Air Freshener',
       'Tested brand plug in Scented Oil 5 Refills, Fresh Linen, (5x0.67oz), Same familiar smell of fresh laundry, New look, Packaging May Vary, Essential Oils, Air Freshener',
       'Glade PlugIns Refills Air Freshener, Scented and Essential Oils for Home and Bathroom, ICY Evergreen Forest, 2.01 Fl Oz, 3 Count',
       'Febreze Plug in Air Freshener and Odor Eliminator, Scented Oil Refill and Oil Warmer, Gain Original Scent, 1 Count',
       'Glade PlugIns Refills Air Freshener, Scented and Essential Oils for Home and Bathroom, Blue Odyssey, 0.67 Fl Oz (Pack of 5) Visit the Glade Store',
       'Botanica Plug in Scented Oil Starter Kit, 1 Warmer + 1 Refill, Fresh Pineapple and Tunisian Rosemary, Air Freshener, Essential Oils',
       'Botanica Plug in Scented Oil Refill, 2 Refills, French Lavender and Honey Blossom, Air Freshener, Essential Oils',
       'Tested brand Plug in Scented Oil Starter Kit, 2 Warmers + 6 Refills, Apple Cinnamon, Fall scent, Fall spray, Eco Friendly, Essential Oils, Air Freshener',
       'Febreze Plug in Air Freshener and Odor Eliminator, Scented Oil Refill, Downy April Fresh, 3 Count',
       'Febreze Plug in Air Freshener and Odor Eliminator, Scented Oil Refill, Mediterranean Lavender, 3 Count',
       'Botanica Plug in Scented Oil Refill, 2 Refills, Caribbean Sweetgrass and Sandalwood, Air Freshener, Essential Oils',
       'Botanica Plug in Scented Oil Refill, 2 Refills, Himalayan Magnolia and Vanilla, Air Freshener, Essential Oils',
       'Glade PlugIns Scented Oil Warmers Sheer Vanilla Embrace Essential Oil Infused Wall Plug in, 6.39 Ounce, 9 Refills',
       'Tested brand plug in Scented Oil 5 Refills, Hawaii, (5x0.67oz), Essential Oils, Air Freshener',
       'Glade PlugIns Refills Air Freshener, Scented and Essential Oils for Home and Bathroom, Ginger Spice Oh So Nice, 3.35 Fl Oz, 5 Count',
       'Tested brand plug in Scented Oil 5 Refills, Fresh Waters, (5x0.67oz), Essential Oils, Air Freshener',
       'Glade PlugIns Refills Air Freshener, Scented and Essential Oils for Home and Bathroom, Pine Wonderland, 3.35 Fl Oz, 5 Count (322303)',
       'Tested brand Plug in Scented Oil 2 Refills, Pumpkin Spice, Fall scent, Fall spray, (2x0.67oz), Essential Oils, Air Freshener, Packaging May Vary',
       'Febreze Air Freshener, Noticeables Air Freshener, Dual Scented Oil Warmer, 1 Pack of 2',
       'Febreze Plug in Air Freshener and Odor Eliminator, Scented Oil Refill, Linen & Sky, 3 Count',
       'Febreze Plug in Air Freshener and Odor Eliminator, Scented Oil Refill, Unstopables Fresh, 2 count',
       'Febreze Plug In Air Freshener Scented Oil Warmer, 1 Count (Pack of 4) (Oil Not Included)',
       'Febreze Plug in Air Freshener and Odor Eliminator, Scented Oil Refill, Mediterraenan Lavender, 2 count',
       'Tested brand Plug in Scented Oil 5 Refills, Wild Berries, Fall scent, Fall spray, (5x0.67oz), Essential Oils, Air Freshener, Packaging May Vary',
       'Glade PlugIns Refills Air Freshener, Scented and Essential Oils for Home and Bathroom, Blooming Peony & Cherry, 1.34 Oz, 2 Count',
       'Glade PlugIns Air Freshener Warmer, Scented and Essential Oils for Home and Bathroom, Up to 50 Days on Low Setting, 2 Count',
       'Glade PlugIns Scented Oil Refill Apple Cinnamon, Essential Oil Infused Wall Plug In, 2.01 FL OZ, Pack of 3',
       'Glade PlugIns Refills Air Freshener, Scented and Essential Oils for Home and Bathroom, Red Honeysuckle Nectar, 1.34 Fl Oz, 2 Count',
       'Tested brand Plug in Scented Oil 5 Refills, Lavender and Chamomile, (5x0.67oz), Essential Oils, Air Freshener',
       'Tested brand plug in Scented Oil 3 Refills, Turquoise Oasis, (3x0.67oz), Essential Oils, Air Freshener',
       'Febreze Plug In, Air Freshener, Scented Oil Refill, Linen & Sky, 2 Count',
       'Glade PlugIns Refills Air Freshener, Scented and Essential Oils for Home and Bathroom, Candy Cane Cheer, 3.35 Fl Oz, 5 Count',
       'Glade PlugIns Refills Air Freshener, Scented and Essential Oils for Home and Bathroom, Exotic Tropical Blossoms, 3.35 Fl Oz, 5 Count',
       'Bath&body Works White Wallflowers Pluggable Home Fragrance Diffuser Pack of 2',
       'Glade PlugIns Refills Air Freshener, Scented and Essential Oils for Home and Bathroom, Toasty Pumpkin Spice, 2.01 Fl Oz, 3 Count',
       'Tested brand Plug in Scented Oil 5 Refills, Pumpkin Spice, Fall Scent, Fall Spray, (5x0.67oz), Essential Oils, Air Freshener, Packaging May Vary',
       'Tested brand Plug in Scented Oil, Starter Kit, Lavender & Chamomile 1ct, Essential Oils, Air Freshener, Pack 2',
       'Tested brand plug in Scented Oil 5 Refills, Vanilla & Pink Papaya, (5x0.67oz), Essential Oils, Air Freshener',
       'Glade Plugins Refill Air Freshener, Scented and Essential Oils for Home and Bathroom, Cashmere Woods, 3.35 Fl Oz, 5 Count',
       'Glade PlugIns Refills Air Freshener, Scented and Essential Oils for Home and Bathroom, Apple Cinnamon, 3.35 Fl Oz, 5 Count',
       'Glade PlugIns Scented Oil Refill, Essential Oil Infused Wall Plug in, 6.39 fl. oz, 9 ct. (Clean LIne)',
       'Glade PlugIns Scented Oil Refill, Essential Oil Infused Wall Plug in, 6.39 fl. oz, 9 ct. (Apple Cinnamon)',
       'Glade PlugIns Refills Air Freshener, Scented and Essential Oils for Home and Bathroom, Ginger Spice Oh So Nice, 1.34 Fl Oz, 2 Count',
       'Tested brand Holiday Scented Oil Kit (2 Warmers + 5 Refills) Apple Cinnamon Medley, Air Freshener with Essential Oils'],
      dtype=object)

In [361]:
def categorize_income(income):
    if income == 'Experiment 2 - Price 23.99':
      return 1
    else: 
      return 0

In [362]:
df['category_test'] = df['experiment'].apply(categorize_income)
df.head()

,respondent_id,external_respondent_id,platform,experiment,product,brand,category,prod_id,action,bought,...,detail_price,detail_name,detail_position,detail_qty,datetime,source,status,profile_group,qd2_age,category_test
0,931049,60f77cc6-e4b3-f365-9e53-28510c35973b,desktop,Experiment 2 - Price 23.99,-,-,-,-,login,0,...,NaN,NaN,NaN,NaN,2021-07-21 01:49:11,lucid,completed,NaN,40 – 49,1
1,931049,60f77cc6-e4b3-f365-9e53-28510c35973b,desktop,Experiment 2 - Price 23.99,-,-,-,-,pageview,0,...,NaN,NaN,NaN,NaN,2021-07-21 01:49:11,lucid,completed,NaN,40 – 49,1
2,931049,60f77cc6-e4b3-f365-9e53-28510c35973b,desktop,Experiment 2 - Price 23.99,-,-,-,-,pageview,0,...,NaN,NaN,NaN,NaN,2021-07-21 02:07:50,lucid,completed,NaN,40 – 49,1
3,931049,60f77cc6-e4b3-f365-9e53-28510c35973b,desktop,Experiment 2 - Price 23.99,-,-,-,-,pageview,0,...,NaN,NaN,NaN,NaN,2021-07-21 02:08:15,lucid,completed,NaN,40 – 49,1
4,931049,60f77cc6-e4b3-f365-9e53-28510c35973b,desktop,Experiment 2 - Price 23.99,-,-,-,-,pageview,0,...,NaN,NaN,NaN,NaN,2021-07-21 02:08:16,lucid,completed,NaN,40 – 49,1

In [363]:
df['experiment'].value_counts(dropna = False)

Experiment 2 - Price 23.99    20710
Experiment 1 - Price 19.99    19575
Name: experiment, dtype: int64

In [364]:
df['category_test'].value_counts(dropna = False)

1    20710
0    19575
Name: category_test, dtype: int64

#STEP 1

#Brands

###Tested brand

1. How many unique people participated in the experience in total?

In [365]:
total_row = []

In [366]:
temporary = df.query('brand ==  "Tested brand"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc=pd.Series.nunique)

In [367]:
total_row.append(temporary.loc[0, 'respondent_id'])
total_row.append(temporary.loc[1, 'respondent_id'])
total_row

[225, 229]

2. How many unique people purchased “Tested brand” products in the experience if “purchase” condition is “Action” == “bought”?

In [368]:
temporary = df.query('action == "bought" and brand ==  "Tested brand"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc=pd.Series.nunique)

In [369]:
total_row.append(temporary.loc[0, 'respondent_id'])
total_row.append(temporary.loc[1, 'respondent_id'])
total_row

[225, 229, 203, 208]

3. What is the sum of the values (in $) of all products purchased in the experience?

In [370]:
one_19_99 = 19.99
one_23_99 = 23.99

In [371]:
sum_all_products = df.query('action == "bought"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc='count')

In [372]:
total_row.append(sum_all_products.loc[0, 'respondent_id']*one_19_99)
total_row.append(sum_all_products.loc[1, 'respondent_id']*one_23_99)
total_row

[225, 229, 203, 208, 14732.63, 18304.37]


4. What is the sum of the values (in $) of “Tested brand” products purchased in the experience?

In [373]:
temporary = df.query('action == "bought" and brand ==  "Tested brand"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc='count')

In [374]:
total_row.append(temporary.loc[0, 'respondent_id']*one_19_99)
total_row.append(temporary.loc[1, 'respondent_id']*one_23_99)
total_row

[225, 229, 203, 208, 14732.63, 18304.37, 4457.7699999999995, 5685.629999999999]

5. What is the market share of “Tested brand” in experience?

In [375]:
total_row.append(temporary.loc[0, 'respondent_id']/sum_all_products.loc[0, 'respondent_id']*100)
total_row.append(temporary.loc[1, 'respondent_id']/sum_all_products.loc[1, 'respondent_id']*100)
total_row

[225,
 229,
 203,
 208,
 14732.63,
 18304.37,
 4457.7699999999995,
 5685.629999999999,
 30.257801899592945,
 31.061598951507207]

#### Output:

Generate a table according to a given template for STEP 1 with the answers to 5 above questions for both experiments.

In [376]:
table_step_1 = pd.DataFrame(np.array([['Number of unique people participated', total_row[0], total_row[1]], 
                               ['Unique people purchased “Tested brand”', total_row[2], total_row[3]],
                             ['Total sum (in $) of all products', total_row[4], total_row[5]],
                              ['Sum of the values (in $) of "Tested brand"', total_row[6].round(2), total_row[7].round(2)],
                               ['Market share of “Tested brand”, %', total_row[8].round(2), total_row[9].round(2)]]),
                   columns=['', 'Experiment 1 - Price 19.99', 'Experiment 2 - Price 23.99']).style.hide_index()

In [377]:
table_step_1

# STEP 2

1. What is the Category of the tested product “Tested brand Smart WIFI Plug In Scented Oil Starter Kit, 1 Warmer + 2 Refills – Fresh Linen”?

In [378]:
print('The category is', df[df['product'] == "Tested brand Smart WIFI Plug In Scented Oil Starter Kit, 1 Warmer + 2 Refills – Fresh Linen"]['category'].unique())

The category is ['Starter Kit']

2. What is the list of brands that sell products of the same category that was defined in 1) question?

In [379]:
print('The list of brands that sell products of the same category', df[df['category'] == "Starter Kit" ]['brand'].unique())

The list of brands that sell products of the same category ['Tested brand' 'Febreze' 'Glade' 'Botanica']

3. What are the answers to the 5 questions from STEP 1 for each of the brands defined in 2) question from STEP 2?

###Febreze

1. How many unique people participated in the experience in total?

In [380]:
total_row = []

In [381]:
temporary = df.query('brand ==  "Febreze"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc=pd.Series.nunique)

In [382]:
total_row.append(temporary.loc[0, 'respondent_id'])
total_row.append(temporary.loc[1, 'respondent_id'])
total_row

[207, 233]

2. How many unique people purchased “Febreze” products in the experience if “purchase” condition is “Action” == “bought”?

In [383]:
temporary = df.query('action == "bought" and brand ==  "Febreze"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc=pd.Series.nunique)

In [384]:
total_row.append(temporary.loc[0, 'respondent_id'])
total_row.append(temporary.loc[1, 'respondent_id'])
total_row

[207, 233, 182, 201]

3. What is the sum of the values (in $) of all products purchased in the experience?

In [385]:
one_19_99 = 19.99
one_23_99 = 23.99

In [386]:
sum_all_products = df.query('action == "bought"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc='count')

In [387]:
total_row.append(sum_all_products.loc[0, 'respondent_id']*one_19_99)
total_row.append(sum_all_products.loc[1, 'respondent_id']*one_23_99)
total_row

[207, 233, 182, 201, 14732.63, 18304.37]


4. What is the sum of the values (in $) of “Febreze” products purchased in the experience?

In [388]:
temporary = df.query('action == "bought" and brand ==  "Febreze"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc='count')

In [389]:
total_row.append(temporary.loc[0, 'respondent_id']*one_19_99)
total_row.append(temporary.loc[1, 'respondent_id']*one_23_99)
total_row

[207, 233, 182, 201, 14732.63, 18304.37, 4217.889999999999, 5685.629999999999]

5. What is the market share of “Febreze” in experience?

In [390]:
total_row.append(temporary.loc[0, 'respondent_id']/sum_all_products.loc[0, 'respondent_id']*100)
total_row.append(temporary.loc[1, 'respondent_id']/sum_all_products.loc[1, 'respondent_id']*100)
total_row

[207,
 233,
 182,
 201,
 14732.63,
 18304.37,
 4217.889999999999,
 5685.629999999999,
 28.62957937584803,
 31.061598951507207]

#### Output:

Generate a table according to a given template for STEP 1 with the answers to 5 above questions for both experiments.

In [391]:


table_step_2 = pd.DataFrame(np.array([['The category of the tested product', 'Starter Kit', ''], ['Number of unique people participated', total_row[0], total_row[1]], 
                               ['Unique people purchased “Febreze”', total_row[2], total_row[3]],
                             ['Total sum (in $) of all products', total_row[4], total_row[5]],
                              ['Sum of the values (in $) of "Febreze"', total_row[6].round(2), total_row[7].round(2)],
                               ['Market share of “Febreze”, %', total_row[8].round(2), total_row[9].round(2)]]),
                   columns=['', 'Experiment 1 - Price 19.99', 'Experiment 2 - Price 23.99']).style.hide_index()

In [392]:
table_step_2

###Glade

1. How many unique people participated in the experience in total?

In [393]:
total_row = []

In [394]:
temporary = df.query('brand ==  "Glade"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc=pd.Series.nunique)

In [395]:
total_row.append(temporary.loc[0, 'respondent_id'])
total_row.append(temporary.loc[1, 'respondent_id'])
total_row

[216, 220]

2. How many unique people purchased “Glade” products in the experience if “purchase” condition is “Action” == “bought”?

In [396]:
temporary = df.query('action == "bought" and brand ==  "Glade"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc=pd.Series.nunique)

In [397]:
total_row.append(temporary.loc[0, 'respondent_id'])
total_row.append(temporary.loc[1, 'respondent_id'])
total_row

[216, 220, 196, 183]

3. What is the sum of the values (in $) of all products purchased in the experience?

In [398]:
one_19_99 = 19.99
one_23_99 = 23.99

In [399]:
sum_all_products = df.query('action == "bought"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc='count')

In [400]:
total_row.append(sum_all_products.loc[0, 'respondent_id']*one_19_99)
total_row.append(sum_all_products.loc[1, 'respondent_id']*one_23_99)
total_row

[216, 220, 196, 183, 14732.63, 18304.37]


4. What is the sum of the values (in $) of “Glade” products purchased in the experience?

In [401]:
temporary = df.query('action == "bought" and brand ==  "Glade"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc='count')

In [402]:
total_row.append(temporary.loc[0, 'respondent_id']*one_19_99)
total_row.append(temporary.loc[1, 'respondent_id']*one_23_99)
total_row

[216, 220, 196, 183, 14732.63, 18304.37, 4537.73, 4917.95]

5. What is the market share of “Glade” in experience?

In [403]:
total_row.append(temporary.loc[0, 'respondent_id']/sum_all_products.loc[0, 'respondent_id']*100)
total_row.append(temporary.loc[1, 'respondent_id']/sum_all_products.loc[1, 'respondent_id']*100)
total_row

[216,
 220,
 196,
 183,
 14732.63,
 18304.37,
 4537.73,
 4917.95,
 30.800542740841248,
 26.86762778505898]

#### Output:

Generate a table according to a given template for STEP 1 with the answers to 5 above questions for both experiments.

In [404]:
table_step_3 = pd.DataFrame(np.array([['Number of unique people participated', total_row[0], total_row[1]], 
                               ['Unique people purchased “Glade”', total_row[2], total_row[3]],
                             ['Total sum (in $) of all products', total_row[4], total_row[5]],
                              ['Sum of the values (in $) of "Glade"', total_row[6].round(2), total_row[7].round(2)],
                               ['Market share of “Glade”, %', total_row[8].round(2), total_row[9].round(2)]]),
                   columns=['', 'Experiment 1 - Price 19.99', 'Experiment 2 - Price 23.99']).style.hide_index()

In [405]:
table_step_3

###Botanica

1. How many unique people participated in the experience in total?

In [406]:
total_row = []

In [407]:
temporary = df.query('brand ==  "Botanica"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc=pd.Series.nunique)

In [408]:
total_row.append(temporary.loc[0, 'respondent_id'])
total_row.append(temporary.loc[1, 'respondent_id'])
total_row

[59, 60]

2. How many unique people purchased “Botanica” products in the experience if “purchase” condition is “Action” == “bought”?

In [409]:
temporary = df.query('action == "bought" and brand ==  "Botanica"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc=pd.Series.nunique)

In [410]:
total_row.append(temporary.loc[0, 'respondent_id'])
total_row.append(temporary.loc[1, 'respondent_id'])
total_row

[59, 60, 54, 53]

3. What is the sum of the values (in $) of all products purchased in the experience?

In [411]:
one_19_99 = 19.99
one_23_99 = 23.99

In [412]:
sum_all_products = df.query('action == "bought"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc='count')

In [413]:
total_row.append(sum_all_products.loc[0, 'respondent_id']*one_19_99)
total_row.append(sum_all_products.loc[1, 'respondent_id']*one_23_99)
total_row

[59, 60, 54, 53, 14732.63, 18304.37]


4. What is the sum of the values (in $) of “Glade” products purchased in the experience?

In [414]:
temporary = df.query('action == "bought" and brand ==  "Botanica"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc='count')

In [415]:
total_row.append(temporary.loc[0, 'respondent_id']*one_19_99)
total_row.append(temporary.loc[1, 'respondent_id']*one_23_99)
total_row

[59, 60, 54, 53, 14732.63, 18304.37, 1199.3999999999999, 1583.34]

5. What is the market share of “Botanica” in experience?

In [416]:
total_row.append(temporary.loc[0, 'respondent_id']/sum_all_products.loc[0, 'respondent_id']*100)
total_row.append(temporary.loc[1, 'respondent_id']/sum_all_products.loc[1, 'respondent_id']*100)
total_row

[59,
 60,
 54,
 53,
 14732.63,
 18304.37,
 1199.3999999999999,
 1583.34,
 8.14111261872456,
 8.650065530799477]

#### Output:

Generate a table according to a given template for STEP 1 with the answers to 5 above questions for both experiments.

In [417]:
table_step_4 = pd.DataFrame(np.array([['Number of unique people participated', total_row[0], total_row[1]], 
                               ['Unique people purchased “Botanica”', total_row[2], total_row[3]],
                             ['Total sum (in $) of all products', total_row[4], total_row[5]],
                              ['Sum of the values (in $) of "Botanica"', total_row[6].round(2), total_row[7].round(2)],
                               ['Market share of “Botanica”, %', total_row[8].round(2), total_row[9].round(2)]]),
                   columns=['', 'Experiment 1 - Price 19.99', 'Experiment 2 - Price 23.99']).style.hide_index()

In [418]:
table_step_4

# STEP 3

#List of age groups

1. What are age groups according to QD2 in profiles file?

In [419]:
df['qd2_age'].unique()

array(['40 – 49', '50 – 55', '30 – 39', '22 – 29'], dtype=object)

2. What are the answers to the 5 questions from STEP 1 for each of the age groups defined?

###'22 – 29'

1. How many unique people participated in the experience in total?

In [420]:
total_row = []

In [421]:
temporary = df.query('brand ==  "Tested brand" and qd2_age == "22 – 29"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc=pd.Series.nunique)

In [422]:
total_row.append(temporary.loc[0, 'respondent_id'])
total_row.append(temporary.loc[1, 'respondent_id'])
total_row

[48, 46]

2. How many unique people purchased “Tested brand” products in the experience if “purchase” condition is “Action” == “bought”?

In [423]:
temporary = df.query('action == "bought" and brand ==  "Tested brand" and qd2_age == "22 – 29"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc=pd.Series.nunique)

In [424]:
total_row.append(temporary.loc[0, 'respondent_id'])
total_row.append(temporary.loc[1, 'respondent_id'])
total_row

[48, 46, 44, 40]

3. What is the sum of the values (in $) of all products purchased in the experience?

In [425]:
one_19_99 = 19.99
one_23_99 = 23.99

In [426]:
sum_all_products = df.query('action == "bought"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc='count')

In [427]:
total_row.append(sum_all_products.loc[0, 'respondent_id']*one_19_99)
total_row.append(sum_all_products.loc[1, 'respondent_id']*one_23_99)
total_row

[48, 46, 44, 40, 14732.63, 18304.37]


4. What is the sum of the values (in $) of “Tested brand” products purchased in the experience?

In [428]:
temporary = df.query('action == "bought" and brand ==  "Tested brand" and qd2_age == "22 – 29"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc='count')

In [429]:
total_row.append(temporary.loc[0, 'respondent_id']*one_19_99)
total_row.append(temporary.loc[1, 'respondent_id']*one_23_99)
total_row

[48, 46, 44, 40, 14732.63, 18304.37, 959.52, 1055.56]

5. What is the market share of “Tested brand” in experience?

In [430]:
total_row.append(temporary.loc[0, 'respondent_id']/sum_all_products.loc[0, 'respondent_id']*100)
total_row.append(temporary.loc[1, 'respondent_id']/sum_all_products.loc[1, 'respondent_id']*100)
total_row

[48,
 46,
 44,
 40,
 14732.63,
 18304.37,
 959.52,
 1055.56,
 6.512890094979647,
 5.766710353866317]

#### Output:

Generate a table according to a given template for STEP 1 with the answers to 5 above questions for both experiments.

In [431]:
table_step_5 = pd.DataFrame(np.array([['Number of unique people participated (22-29)', total_row[0], total_row[1]], 
                               ['Unique people purchased “Tested brand”', total_row[2], total_row[3]],
                             ['Total sum (in $) of all products', total_row[4], total_row[5]],
                              ['Sum of the values (in $) of "Tested brand"', total_row[6].round(2), total_row[7].round(2)],
                               ['Market share of “Tested brand”, %', total_row[8].round(2), total_row[9].round(2)]]),
                   columns=['', 'Experiment 1 - Price 19.99', 'Experiment 2 - Price 23.99']).style.hide_index()

In [432]:
table_step_5

###'30 – 39'

1. How many unique people participated in the experience in total?

In [433]:
total_row = []

In [434]:
temporary = df.query('brand ==  "Tested brand" and qd2_age == "30 – 39"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc=pd.Series.nunique)

In [435]:
total_row.append(temporary.loc[0, 'respondent_id'])
total_row.append(temporary.loc[1, 'respondent_id'])
total_row

[92, 94]

2. How many unique people purchased “Tested brand” products in the experience if “purchase” condition is “Action” == “bought”?

In [436]:
temporary = df.query('action == "bought" and brand ==  "Tested brand" and qd2_age == "30 – 39"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc=pd.Series.nunique)

In [437]:
total_row.append(temporary.loc[0, 'respondent_id'])
total_row.append(temporary.loc[1, 'respondent_id'])
total_row

[92, 94, 82, 86]

3. What is the sum of the values (in $) of all products purchased in the experience?

In [438]:
one_19_99 = 19.99
one_23_99 = 23.99

In [439]:
sum_all_products = df.query('action == "bought"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc='count')

In [440]:
total_row.append(sum_all_products.loc[0, 'respondent_id']*one_19_99)
total_row.append(sum_all_products.loc[1, 'respondent_id']*one_23_99)
total_row

[92, 94, 82, 86, 14732.63, 18304.37]


4. What is the sum of the values (in $) of “Tested brand” products purchased in the experience?

In [441]:
temporary = df.query('action == "bought" and brand ==  "Tested brand" and qd2_age == "30 – 39"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc='count')

In [442]:
total_row.append(temporary.loc[0, 'respondent_id']*one_19_99)
total_row.append(temporary.loc[1, 'respondent_id']*one_23_99)
total_row

[92, 94, 82, 86, 14732.63, 18304.37, 1819.09, 2518.95]

5. What is the market share of “Tested brand” in experience?

In [443]:
total_row.append(temporary.loc[0, 'respondent_id']/sum_all_products.loc[0, 'respondent_id']*100)
total_row.append(temporary.loc[1, 'respondent_id']/sum_all_products.loc[1, 'respondent_id']*100)
total_row

[92,
 94,
 82,
 86,
 14732.63,
 18304.37,
 1819.09,
 2518.95,
 12.347354138398913,
 13.761467889908257]

#### Output:

Generate a table according to a given template for STEP 1 with the answers to 5 above questions for both experiments.

In [444]:
table_step_6 = pd.DataFrame(np.array([['Number of unique people participated (30-39)', total_row[0], total_row[1]], 
                               ['Unique people purchased “Tested brand”', total_row[2], total_row[3]],
                             ['Total sum (in $) of all products', total_row[4], total_row[5]],
                              ['Sum of the values (in $) of "Tested brand"', total_row[6].round(2), total_row[7].round(2)],
                               ['Market share of “Tested brand”, %', total_row[8].round(2), total_row[9].round(2)]]),
                   columns=['', 'Experiment 1 - Price 19.99', 'Experiment 2 - Price 23.99']).style.hide_index()

In [445]:
table_step_6

###'40 – 49'

1. How many unique people participated in the experience in total?

In [446]:
total_row = []

In [447]:
temporary = df.query('brand ==  "Tested brand" and qd2_age == "40 – 49"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc=pd.Series.nunique)

In [448]:
total_row.append(temporary.loc[0, 'respondent_id'])
total_row.append(temporary.loc[1, 'respondent_id'])
total_row

[59, 56]

2. How many unique people purchased “Tested brand” products in the experience if “purchase” condition is “Action” == “bought”?

In [449]:
temporary = df.query('action == "bought" and brand ==  "Tested brand" and qd2_age == "40 – 49"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc=pd.Series.nunique)

In [450]:
total_row.append(temporary.loc[0, 'respondent_id'])
total_row.append(temporary.loc[1, 'respondent_id'])
total_row

[59, 56, 53, 51]

3. What is the sum of the values (in $) of all products purchased in the experience?

In [451]:
one_19_99 = 19.99
one_23_99 = 23.99

In [452]:
sum_all_products = df.query('action == "bought"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc='count')

In [453]:
total_row.append(sum_all_products.loc[0, 'respondent_id']*one_19_99)
total_row.append(sum_all_products.loc[1, 'respondent_id']*one_23_99)
total_row

[59, 56, 53, 51, 14732.63, 18304.37]


4. What is the sum of the values (in $) of “Tested brand” products purchased in the experience?

In [454]:
temporary = df.query('action == "bought" and brand ==  "Tested brand" and qd2_age == "40 – 49"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc='count')

In [455]:
total_row.append(temporary.loc[0, 'respondent_id']*one_19_99)
total_row.append(temporary.loc[1, 'respondent_id']*one_23_99)
total_row

[59, 56, 53, 51, 14732.63, 18304.37, 1139.4299999999998, 1319.4499999999998]

5. What is the market share of “Tested brand” in experience?

In [456]:
total_row.append(temporary.loc[0, 'respondent_id']/sum_all_products.loc[0, 'respondent_id']*100)
total_row.append(temporary.loc[1, 'respondent_id']/sum_all_products.loc[1, 'respondent_id']*100)
total_row

[59,
 56,
 53,
 51,
 14732.63,
 18304.37,
 1139.4299999999998,
 1319.4499999999998,
 7.734056987788331,
 7.208387942332896]

#### Output:

Generate a table according to a given template for STEP 1 with the answers to 5 above questions for both experiments.

In [457]:
table_step_7 = pd.DataFrame(np.array([['Number of unique people participated (40 – 49)', total_row[0], total_row[1]], 
                               ['Unique people purchased “Tested brand”', total_row[2], total_row[3]],
                             ['Total sum (in $) of all products', total_row[4], total_row[5]],
                              ['Sum of the values (in $) of "Tested brand"', total_row[6].round(2), total_row[7].round(2)],
                               ['Market share of “Tested brand”, %', total_row[8].round(2), total_row[9].round(2)]]),
                   columns=['', 'Experiment 1 - Price 19.99', 'Experiment 2 - Price 23.99']).style.hide_index()

In [458]:
table_step_7

###'50 – 55'

1. How many unique people participated in the experience in total?

In [459]:
total_row = []

In [460]:
temporary = df.query('brand ==  "Tested brand" and qd2_age == "50 – 55"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc=pd.Series.nunique)

In [461]:
total_row.append(temporary.loc[0, 'respondent_id'])
total_row.append(temporary.loc[1, 'respondent_id'])
total_row

[26, 33]

2. How many unique people purchased “Tested brand” products in the experience if “purchase” condition is “Action” == “bought”?

In [462]:
temporary = df.query('action == "bought" and brand ==  "Tested brand" and qd2_age == "50 – 55"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc=pd.Series.nunique)

In [463]:
total_row.append(temporary.loc[0, 'respondent_id'])
total_row.append(temporary.loc[1, 'respondent_id'])
total_row

[26, 33, 24, 31]

3. What is the sum of the values (in $) of all products purchased in the experience?

In [464]:
one_19_99 = 19.99
one_23_99 = 23.99

In [465]:
sum_all_products = df.query('action == "bought"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc='count')

In [466]:
total_row.append(sum_all_products.loc[0, 'respondent_id']*one_19_99)
total_row.append(sum_all_products.loc[1, 'respondent_id']*one_23_99)
total_row

[26, 33, 24, 31, 14732.63, 18304.37]


4. What is the sum of the values (in $) of “Tested brand” products purchased in the experience?

In [467]:
temporary = df.query('action == "bought" and brand ==  "Tested brand" and qd2_age == "50 – 55"') \
.pivot_table(index = 'category_test', values = 'respondent_id', aggfunc='count')

In [468]:
total_row.append(temporary.loc[0, 'respondent_id']*one_19_99)
total_row.append(temporary.loc[1, 'respondent_id']*one_23_99)
total_row

[26, 33, 24, 31, 14732.63, 18304.37, 539.7299999999999, 791.67]

5. What is the market share of “Tested brand” in experience?

In [469]:
total_row.append(temporary.loc[0, 'respondent_id']/sum_all_products.loc[0, 'respondent_id']*100)
total_row.append(temporary.loc[1, 'respondent_id']/sum_all_products.loc[1, 'respondent_id']*100)
total_row

[26,
 33,
 24,
 31,
 14732.63,
 18304.37,
 539.7299999999999,
 791.67,
 3.6635006784260513,
 4.3250327653997385]

#### Output:

Generate a table according to a given template for STEP 1 with the answers to 5 above questions for both experiments.

In [470]:
table_step_8 = pd.DataFrame(np.array([['Number of unique people participated (50 – 55)', total_row[0], total_row[1]], 
                               ['Unique people purchased “Tested brand”', total_row[2], total_row[3]],
                             ['Total sum (in $) of all products', total_row[4], total_row[5]],
                              ['Sum of the values (in $) of "Tested brand"', total_row[6].round(2), total_row[7].round(2)],
                               ['Market share of “Tested brand”, %', total_row[8].round(2), total_row[9].round(2)]]),
                   columns=['', 'Experiment 1 - Price 19.99', 'Experiment 2 - Price 23.99']).style.hide_index()

In [471]:
table_step_8

#### Output:

Generate several tables according to a given example for STEP 3 with the answers to 5 questions from STEP 1 for each of the age groups (1 table per 1 age group).

# STEP 4

#Seconds

1. What is the average time spent (in seconds) on the product pages of the “Tested brand” in each experiment? Use the log file and focus on the action "pageview" as it dictates the moment a visitor changes pages (please consider exactly the “Tested brand” pageview actions).

In [472]:
time = df.query('brand ==  "Tested brand" and action == "pageview"').sort_values(by=['datetime'])
time['sort_time'] = df['datetime'].diff().shift(-1)

time['new'] = time[:679]['sort_time'].values.view('<i8')/10**9
time = time[time['new'] != 0.00]

#### Output:

Generate a table according to a given template for STEP 4.

In [473]:
temporary = time.pivot_table(index = 'category_test', values = 'new', aggfunc='mean')

total_row = []

total_row.append(temporary.loc[0, 'new'])
total_row.append(temporary.loc[1, 'new'])

total_row

[3.342948717948718, 2.6966966966966965]

In [474]:
table_step_9 = pd.DataFrame(np.array([['Average time spent on a product pages of the “Tested brand”, sec', total_row[0].round(2), total_row[1].round(2)]]),
                   columns=['', 'Experiment 1 - Price 19.99', 'Experiment 2 - Price 23.99']).style.hide_index()

In [475]:
table_step_9